<footer class="footer">
  <center>
    <div class="container">
      If you find this project useful, contribute with us at
      <a class="link-black" href="https://github.com/NeoResearch/smacco">
        <i class="fab fa-lg fa-github"></i> SMACCO
      </a>
    </div>
    <div class="copyright">
      <div class="container">
        MIT License
        <span>•</span>
        <span id="footerversion">Get Source on GitHub</span>
        <span>•</span>
        NeoResearch community
        <span>•</span>
        Copyleft 2018-2018
      </div>
    </div>
  </center>
</footer>
